.container {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.box-1 img {
  width: 400px;
  height: 480px;
  margin-right: 25px;
  box-shadow: 0px 2px 5px lightgray;
}
.box-1 p {
  color: #565959;
}
.box-2 h1 {
  font-weight: lighter;
}
.box-2 h2 {
  font-size: 16px;
}
.box-2 p {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
}
.box-2 a {
  color: #007185;
  margin-bottom: 20px;
}
.box-2 img {
  width: 120px;
  margin-top: 15px;
}
